body{
  background-image: url('https://images.unsplash.com/photo-1604251405903-b8c4e83cdf7c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=888&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  color:white;
  font-size: 25px;
  font-family:American Typewriter, serif;

}
.topnav {
  overflow: hidden;
  background-color: #14010140;
  
}
.topnav a {
  float: right;
  display: block;
  color: rgb(4, 176, 250);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}  
.topnav:hover {
  border-color: rgb(255, 162, 0);
  background: rgba(255, 255, 255, 0.252);
  color: rgb(11, 32, 32);
  font-weight: 600;
  transition: all 0.5s ease-out;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}


.footer {
  background: rgba(24, 2, 70, 0.375);
}

.main {
 
  background: rgba(15, 19, 1, 0.375);
}

.aside-1 {
  background:rgba(255, 213, 105, 0.375);
}

.aside-2 {
  background: rgba(255, 213, 105, 0.375);
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}



@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}


@media all and (max-width: 500px) {
  .navigation {
    flex-direction: column;
  }
}
.header
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color:transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.button{
  width: 200px;
  border-radius: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: 400;
  border: 2px solid rgb(6, 24, 1);
  background: transparent;
  color: rgb(253, 250, 253);
  padding: 0.75rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
  align-items:left;
}
.button:hover {
  border-color: rgb(255, 162, 0);
  background: white;
  color: rgb(11, 32, 32);
  font-weight: 600;
  transition: all 0.5s ease-out;
}

input[type="email"] {
  appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline:#900;
  box-shadow: #ff1361;
 
}

#thank-you-message {
  display:none;
}

#thank-you-message.show {
  display: block;
  background-color:rgb(13, 228, 13);
  color:white;
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box; 
  border-color:red;
}

.error.active {
  padding: 0.3em;
}