body{
    background-color: blanchedalmond;
}
.border{
  border:solid;
  background-color:blanchedalmond;
  color:rgb(145, 8, 92);
}

.topnav {
    overflow: hidden;
    background-color: #1401015c;
  }
  .topnav a {
    float: right;
    display: block;
    color: rgba(4, 176, 250, 0.83);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }