body {
    padding: 1%;
    background-color:green;
  }
 

 
 p1{
   text-align:center;
   color:black;
 }
 
  .left,
  .right,
  .center {
    float: left;
    width: 50%;
    color: black;
    padding: 10px;
    height: 500px;
    text-align: center;
  }
 p2{
    float: top-right;
    width: 50%;
    color: black;
    padding: 10px;
    height: 500px;
    text-align: center;
 }
 p3{
    bottom: auto;

  }
  <a href="./contactus.html">
  <button>Click here</button>
</a>
